<hgroup>
  <div id="header-inner">
  <span class="first"><a href="{{ root_url }}/">{{ site.head }}</a></span>
    <!--<span><a href="//pag.sdslabs.co">About</a></span><br><br>-->
    <span class="icon"><a target="_blank" href="//github.com/{{ site.github_user }}"><img src="/blog/images/social/gh-icon.png" alt=""></a></span>
    <span class="icon"><a target="_blank" href="//facebook.com/{{ site.facebook_user }}"><img src="/blog/images/social/fb-icon.png" alt=""></a></span>
    <span class="icon"><a target="_blank" href="//plus.google.com/{{ site.googleplus_user }}"><img src="/blog/images/social/gp-icon.png" alt=""></a></span>
    <span class="icon"><a target="_blank" href="{{ site.subscribe_rss }}" title="Subscribe via RSS"><img src="/blog/images/social/rss-icon.png" alt=""></a></span>
  </div>
</hgroup>
<div id="fb-root"></div>
<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
